.git
.gitignore
*.txt
!requirements.txt
.env
*.env
.idea/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.coverage
htmlcov/
.tox/
.venv/
venv/
logs/
*.log
.DS_Store
README.md
tests/
*.md
.mypy_cache/
.pytest_cache/
.coverage*
coverage.xml
.ipynb_checkpoints 